

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

#wrapper
{
    
    overflow: hidden;
}

.container
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top:10rem ;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(27,97,223,1) 100%);
}

.heading
{
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

#opt_btn
{
    width: 250px;
    height: 50px;
    font-size: 1.3rem;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

#opt_btn:hover
{
    background-color: rgb(126, 10, 234);
}

#display_area
{
    height: auto;
    width: 250px;
    background-color: rgb(255 255 255 / 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;
    border-radius: 5px;
    visibility: hidden;

}

#copy_btn
{
    display: none;
}

#result{
    height: auto;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.084);
    padding: 1rem;
    font-size: 1.3rem;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 700;
    color: black;
    border-radius: 5px;
}

#copy_btn 
{
    width: 120px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 1.1rem;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
#copy_btn:hover
{
    background-color: rgba(0, 0, 255, 0.751);
}
#copy_animation
{
    display: none;
}

#inside-cpy-btn ,#inside-generate-btn
{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 0.8rem;
    /* transition: all 0.9s ease-in-out; */

}

#generate_animation
{
    display: none;
}


@media (max-width:400px) {
    .heading
{
    font-size: 3rem;
    font-weight: 700;
    color: white;
}
}